main {
  background: #4a3f3f;
  position: relative;
  display: grid;
  place-items: center;
  gap: var(--lg-spacing);
  align-items: end;
  height: 420px;
  width: 280px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

article {
  width: 100%;
  padding: var(--sm-spacing) var(--sm-spacing) var(--sm-spacing) 0;
}

figure {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--primary));
  display: flex;
  padding: var(--sm-spacing);
}

figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 0.625rem 0.625rem rgba(var(--primary), 1);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.7);
}

figcaption {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(var(--primary), 1);
  color: rgba(var(--text, 1));
  padding: var(--sm-spacing);
  z-index: 2;
}

figure:hover, figcaption:hover button, figure:hover button, figure:hover figcaption::after {
  background: rgba(var(--text), 1);
  color: rgba(var(--secondary), 1)
}

main:hover img {
  filter: grayscale(0);
}

.container > div {
  
  background: rgba(var(--primary), 1);
  height: 3vw;
  width: 3vw;
  
  display: grid;
  transform: translate(-0.625rem, var(--sm-spacing));
}

button {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border: none;
  height: 3.3vw;
  width: 3.3vw;
  background-color: rgba(var(--primary), 1);
}

button:hover{
  background: rgba(var(--text), 1);
}
button::before{
  content: "";
  aspect-ratio: 1;
  width: .75em;
  display: inline-block;
  border: solid rgba(var(--text), 1);
  border-width: 0 0.1875rem 0.1875rem 0;
  transition: ease 200ms;
  transform: translateX(-0.1875rem) rotate(-45deg);
}

button:hover::before{
  border-color: rgba(var(--secondary));
}

h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: 0.9;
}

::selection {
  background: rgba(var(--text));
  color: rgba(var(--bg));
}
