ul {
  display: flex;
  gap: 1rem;
  transition: width 300ms ease;
}

li {
  display: none;
  white-space: nowrap;
  flex-shrink: 0;
  width: fit-content;
  color: rgba(var(--secondary), 1);
}

li.active{
    display: block;
    animation: fade 3s infinite;
}

li:nth-child(odd) {
  color: rgba(var(--primary), 1);
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
  
}